body{
	background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../images/background-theme.jpeg") no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-color: rgb(28, 0, 64);
	background-blend-mode: 
}
header .top-header{
	background-color: rgba(18, 12, 25, 0.9);
	padding: 7px 10px;
}
.top-header div{
	margin: 3px 0px;
}
.top-header img{
	width: 60px;
	height: 40px;
	margin-right: 20px;
}
a, a:hover{
	text-decoration: none;
}
.top-header a{
	color: #ffffff;
}
.top-header a:hover{
	color: #fd2366;
}
.login-btn:hover{
	color: #ffffff !important;
}
.font-size-14{
	font-size: 14px;
}
.login-btn{
	background: #fd2366;
	color: white;
	padding: 8px 22px;
	border-radius: 20px; 
	font-size: 11px;
	display: inline-block;
	font-weight: bold;
}
.package-btn{
	background: #fd2366;
	color: white;
	padding: 8px 22px;
	border-radius: 20px; 
	font-size: 11px;
	display: inline-block;
	font-weight: bold;
	margin: 25px 5px;
}
.navbar{
	color: #f8f9fa !important;
	background-color: #392a4a;
	border-top: solid 1px #5a5a5a;
	border-bottom: solid 1px #5a5a5a;
}
.nav-link{
	color: #ffffff !important;
}
.nav-item:hover{
	background-color: #fd2366;
	color: #ffffff;
}
.bg-yellow{
	background: yellow;
}
.text-white{
	color: white;
}
.text-black{
	color: black;
}
.guarantee-banner{
	background-color: rgba(13, 3, 19, 0.9);
	border: solid 5px rgba(255, 255, 255, 0.2);
	border-radius: 15px;
	display: inline-block;
	padding: 12px 30px;
}
.guarantee-banner>img{
	width: 60px;
	height: 60px;
}
.account-tmpt{
	background-color: white;
	border-radius: 12px;
	margin: 90px 0px 50px 0px;
	display: inline-block;
    width: 80%;
}
.banner-img{
	padding: 10px;
}
.banner-img>img{
	border-radius: 10px;
	width: 100%;
}
.font-size-12{
	font-size: 12px;
}
.account-tmpt th{
	vertical-align: bottom;
	padding-bottom: 25px;
	border-bottom: solid 1px #cccccc;
}
table{
	width: 100%;
}
.account-tmpt td{
	padding: 10px 7px;
	font-size: 14px;
}
.budget-class{
	background-color: rgb(28, 0, 64);
	color: white;
}
.account-tmpt .table-responsive{
	border-radius: 12px;
}
.font-size-10{
	font-size: 10px;
}
.page-content{
	padding: 40px 25px;
}
.services-col{
	padding-left: 20px!important;
}
#tier-of-services-box{
	background-color: yellow;
	color: black;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 17px;
	display: inline-block;
}
.account-tmpt table thead th>img{
	width: 100px;
}
.quotation{
	font-weight: bold;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}
#content-header>h1>div{
	display: inline-block;
}
@media screen and (max-width: 480px) {
	.navbar{
		justify-content: start !important;
		padding: 0.25rem 1rem !important;
	}
	.navbar>div{
		width: 100%;
	}
	.navbar li{
		padding: 2px 10px !important;
	}
	.top-header{
		padding: 7px 10px !important;
	}
	.banner-img{
		padding: 4px;
	}
	.page-content {
    	padding: 20px 10px;
	}
	.services-col{
		padding-left: 7px!important;
	}
	.account-tmpt td{
		padding: 7px;
		font-size: 11px;
	}
	#tier-of-services-box{
		font-size: 11px;
		padding: 7px 10px;
	}
	.account-tmpt th{
		padding-bottom: 15px;
	}
	.account-tmpt table thead th>img{
		width: 60px;
	}
	.account-tmpt table thead th>h5{
		font-size: 10px;
	}
	.account-tmpt table thead th>h6{
		font-size: 12px;
	}
	.login-btn{
		padding: 5px 17px;
		font-size: 8px;
		margin: 0px 5px;
	}
	.account-tmpt{
		margin: 40px 0px 40px 0px;
		width: 100%;
	}
	.guarantee-banner{
		display: flex;
		border: solid 4px rgba(255, 255, 255, 0.2);
		border-radius: 14px;
		padding: 8px 17px;
	}
	.guarantee-banner>img{
		width: 45px;
		height: 40px;
	}
	.guarantee-banner>div{
		font-size: 12px;
		text-align: center;
	}
	#content-header>h6{
		font-size: 11px !important;
	}
	#content-header>h1{
		font-size: 16px !important;
	}
	.navbar-toggler{
		padding: 5px;
	}
	.navbar-toggler-icon{
		height: 1.5rem;
	}
	.top-header img{
		width: 38px;
		height: 25px;
		margin-right: 5px;
	}
	.top-header a{
		font-size: 10px;
	}
	.top-header div:nth-child(2){
		justify-content: flex-start !important;
	}
}










