body{
	background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../images/background-theme.jpeg") no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-color: rgb(28, 0, 64);
	background-blend-mode: 
}
header .top-header{
	background-color: rgba(18, 12, 25, 0.9);
}
.top-header img{
	width: 60px;
	height: 40px;
}
a, a:hover{
	text-decoration: none;
}
.top-header a{
	color: #ffffff;
}
.top-header a:hover{
	color: #fd2366;
}
.login-btn:hover{
	color: #ffffff !important;
}
.font-size-14{
	font-size: 14px !important;
}
.login-btn{
	background: #fd2366;
	color: white;
	padding: 8px 22px;
	border-radius: 20px; 
}
.navbar{
	color: #f8f9fa !important;
	background-color: #392a4a;
	border-top: solid 1px #5a5a5a;
	border-bottom: solid 1px #5a5a5a;
}
.nav-link{
	color: #ffffff !important;
}
.nav-item:hover{
	background-color: #fd2366;
	color: #ffffff;
}
.bg-yellow{
	background: yellow;
}
.text-white{
	color: white;
}
.text-black{
	color: black;
}
.guarantee-banner{
	background-color: rgba(13, 3, 19, 0.9);
	border: solid 5px rgba(255, 255, 255, 0.2);
	border-radius: 15px;
	display: inline-block;
}
.guarantee-banner>img{
	width: 60px;
	height: 60px;
}
.account-tmpt{
	display: inline-block;
	background-color: white;
	border-radius: 12px;
	width: 1010px;
	margin: 90px 0px 50px 0px;
	position: relative;
}
.account-tmpt>img{
	border-radius: 10px;
	width: 995px;
}
.account-tmpt th img{
	width: 100px;
}
.font-size-12{
	font-size: 12px;
}
.account-tmpt th{
	vertical-align: bottom;
	padding-bottom: 30px;
	border-bottom: solid 1px #cccccc;
}
table{
	width: 100%;
}
.account-tmpt td{
	padding: 10px 2px;
	font-size: 14px;
}
.budget-class{
	background-color: rgb(28, 0, 64);
	color: white;
}
.account-tmpt .table-responsive{
	border-radius: 12px;
}
.recommended{
	position: absolute;
	top: 385px;
	right: 67px;
	color: yellow;
}
.font-size-10{
	font-size: 10px;
}
.page-content{
	padding: 40px 25px;
}
header>div{
	padding: 0.5rem 3rem !important;
}
@media screen and (max-width: 480px) {
	html {
		width: fit-content;
	}
	.navbar{
		justify-content: start !important;
		padding: 0.25rem 1rem !important;
	}
	.navbar>div{
		width: 100%;
	}
	.navbar li{
		padding: 2px 20px !important;
	}
	header>div{
		padding: 0.75rem 1rem !important;
	}
}










